.main {
  height: 60%;
  width: 80%;
  margin-left: 20px;
  background-color: #ffffff;
  padding: 0 0 10px 0;
  margin-top: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.main_title {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 0 10px;
}

.image {
  height: 50%;
  width: 90%;
}

.division {
  border-top: 10px solid #bbb;
}
