.top_header {
  display: inline-flex;
  flex-direction: row;
  height: 65px;
  width: 100%;
  background-color: #ffffff;
}

.logoAndTitle {
  display: flex;
  justify-items: space-between;
  /* padding: 0 2px; */
}

.redditLogo {
  height: 80%;
  width: 70%;
  border-radius: 70%;
  padding: 0.3rem 0 0 1rem;
}

.reddit_logoTitle {
  font-size: 22px;
  font-weight: 700;
  padding-left: 5px;
}

.search {
  position: relative;
  top: 30%;
  left: 25%;
  /* right: 40%; */
  width: 40%;
  height: 50%;
  border: none;
  align-items: center;
  justify-self: center;
  border-radius: 6px;
  padding-top: 5px;
  padding-left: 10px;
  text-indent: 10px;
}
